# Hybrid Model: Collaborative Filtering + Content Based

## Load Recommender System Class and other important Functions

In [1]:
%run -i utilities.py
%run -i CFKnnMeansModel_Class.py
%run -i CB_TFIDF_CosineSimilarity.py 
%run -i HybridModel_Class.py

## Model 1: Collab Filtering: KNN with means

## Read the model from saved file

In [2]:
import pickle
knn_filename = 'Model_KNN_Means.sav'
knn_model = pickle.load(open(knn_filename, 'rb'))
#knn_model=knn_model_full.model

## Model 2: Content Based, Cosine Similarity

## Read the model from saved file

In [3]:
cos_sim_filename="Model_tfidf_cosine_sim.sav"
cos_sim_model=pickle.load(open(cos_sim_filename, 'rb'))

# Hybrid Model
Hybrid Recommender leverages the best of both Content based and collaborative filtering techniques.

## Read the df, and Ask for input

In [4]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
df=pd.read_csv("../../Data/ml-latest-small/PreprocessedData_ml_latest_year_small.csv")
#df["title"] = df["title"].str.lower()
df.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995

In [5]:
#Ask user for the movie name
user_input=AskForUserInput(df)
#Or if you want to hardcode it
#user_input="Toy Story"

Enter your Favorite Movie: Harry potter

We have multiple movies with the same name/Part of it, but with different release years:
 movieId                                                                                          title  year
    4896 Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)  2001
    5816                                                 Harry Potter and the Chamber of Secrets (2002)  2002
    8368                                                Harry Potter and the Prisoner of Azkaban (2004)  2004
   69844                                                  Harry Potter and the Half-Blood Prince (2009)  2009
   40815                                                     Harry Potter and the Goblet of Fire (2005)  2005
   81834                                            Harry Potter and the Deathly Hallows: Part 1 (2010)  2010
   88125                                            Harry Potter and the Deathly Hallows: Part 2 (2011)  2011
   54001                                               Harry Potter and the Order of the Phoenix (2007)  2007
Which one do you have in your mind? (Enter the movieId)54001
Your favourite movie: Harry Potter and the Order of the Phoenix (2007)


## Recommend movies

In [6]:
HybridModel=hybrid_model(knn_model,cos_sim_model)

In [7]:
content_df,collab_df,hybrid_df=HybridModel.recommend_similar_items_hybrid(user_input,df,10)

In [8]:
print('Hybrid Recommendations:')
hybrid_df.head(n=10)

Hybrid Recommendations:

,movieId,title,genres,average rating,number of ratings,Genre Similarity Score
50,8368,Harry Potter and the Prisoner of Azkaban (2004),Adventure|Fantasy|IMAX,3.91,93,0.967592
87,98809,"Hobbit: An Unexpected Journey, The (2012)",Adventure|Fantasy|IMAX,3.81,40,0.967592
90,106489,"Hobbit: The Desolation of Smaug, The (2013)",Adventure|Fantasy|IMAX,3.58,25,0.967592
79,86332,Thor (2011),Action|Adventure|Drama|Fantasy|IMAX,3.51,34,0.936705
59,40815,Harry Potter and the Goblet of Fire (2005),Adventure|Fantasy|Thriller|IMAX,3.82,71,0.904000
78,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX,3.99,47,0.902588
80,88125,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX,3.91,50,0.837157
73,69844,Harry Potter and the Half-Blood Prince (2009),Adventure|Fantasy|Mystery|Romance|IMAX,3.89,58,0.797549
75,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,3.94,53,0.769676
96,122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX,3.85,41,0.764103

In [9]:
print('Content based recommendations:')
content_df.head(n=10)

Content based recommendations:

,title,movieId,genres,Similarity Score
0,Alice in Wonderland (2010),74789,Adventure|Fantasy|IMAX,0.967592
1,"Hobbit: The Desolation of Smaug, The (2013)",106489,Adventure|Fantasy|IMAX,0.967592
2,"Hobbit: An Unexpected Journey, The (2012)",98809,Adventure|Fantasy|IMAX,0.967592
3,Jack the Giant Slayer (2013),101025,Adventure|Fantasy|IMAX,0.967592
4,Harry Potter and the Prisoner of Azkaban (2004),8368,Adventure|Fantasy|IMAX,0.967592
5,Thor (2011),86332,Action|Adventure|Drama|Fantasy|IMAX,0.936705
6,"Twilight Saga: Breaking Dawn - Part 2, The (2012)",98203,Adventure|Drama|Fantasy|Romance|IMAX,0.930640
7,Harry Potter and the Goblet of Fire (2005),40815,Adventure|Fantasy|Thriller|IMAX,0.904000
8,Thor: The Dark World (2013),106072,Action|Adventure|Fantasy|IMAX,0.902588
9,Oz the Great and Powerful (2013),101112,Action|Adventure|Fantasy|IMAX,0.902588

In [10]:
print('Collaborative Filtering based recommendations:')
collab_df.head(n=10)

Collaborative Filtering based recommendations:

,,,,average rating,number of ratings
movieId,title,year,genres,,
10,GoldenEye (1995),1995,Action|Adventure|Thriller,3.50,132
39,Clueless (1995),1995,Comedy|Romance,3.29,104
48,Pocahontas (1995),1995,Animation|Children|Drama|Musical|Romance,3.15,68
231,Dumb & Dumber (Dumb and Dumber) (1994),1994,Adventure|Comedy,3.06,133
316,Stargate (1994),1994,Action|Adventure|Sci-Fi,3.38,140
356,Forrest Gump (1994),1994,Comedy|Drama|Romance|War,4.16,329
364,"Lion King, The (1994)",1994,Adventure|Animation|Children|Drama|Musical|IMAX,3.94,172
457,"Fugitive, The (1993)",1993,Thriller,3.99,190
480,Jurassic Park (1993),1993,Action|Adventure|Sci-Fi|Thriller,3.75,238
588,Aladdin (1992),1992,Adventure|Animation|Children|Comedy|Musical,3.79,183

# Save your model

In [12]:
import pickle
filename = 'Model_hybrid.sav'
pickle.dump(HybridModel, open(filename, 'wb'))

#