In [45]:
# https://realpython.com/build-recommendation-engine-collaborative-filtering/
# https://medium.com/@17it097/movie-recommendation-system-edc72a9e7571
import numpy as np
import pandas as pd
import sklearn.metrics.pairwise as pw
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [46]:
df=pd.read_csv("../../Data/ml-latest-small/PreprocessedData_ml_latest_year_small.csv",index_col=0)
df.head()

,userId,movieId,rating,title,genres,year
0,1,1,4.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,5,1,4.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
2,7,1,4.5,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
3,15,1,2.5,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
4,17,1,4.5,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995

In [47]:
df= df.drop(['title', 'genres', 'year'], axis = 1)

In [48]:
movies_users=df.pivot(index='movieId', columns='userId',values='rating').fillna(0)

In [49]:
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
#option 1 knn
# https://medium.com/@17it097/movie-recommendation-system-edc72a9e7571

mat_movies_users=csr_matrix(movies_users.values)
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=10)
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=10)

In [51]:
#option 2 ## Item Rating Based Cosine Similarity
#https://github.com/berkurka/MovieRecommender/blob/master/Movie_Recommender.ipynb

# with whom has user 3 the most similarities?

user_recomm = pw.cosine_similarity(mat_movies_users)
user_recomm_df = pd.DataFrame(user_recomm,columns=movies_users.index.values,
                 index=movies_users.index.values)
    ## Item Rating Based Cosine Similarity
#usr_cosine_df = pd.DataFrame(user_recomm_df[input_user_id].sort_values(ascending=False))
usr_cosine_df = pd.DataFrame(user_recomm_df[3].sort_values(ascending=False))
usr_cosine_df.reset_index(level=0, inplace=True)
usr_cosine_df.columns = ['userId','cosine_sim']

In [52]:
usr_cosine_df.head()

   userId  cosine_sim
0       3    1.000000
1    3450    0.447987
2     762    0.446784
3     788    0.445082
4     736    0.436247